
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.header{
    display: flex;
    flex-wrap: wrap;
}

.cover{
    width: 100%;
    height: 450px;
}
.logo{
    width: 100%;
    height: 450px;
    z-index: 1;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0;
    top: 0;
}
#headline{
    display: flex;
    flex-wrap: wrap;

}
#headline h2{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: white;
    letter-spacing: 2px;
    position: absolute;
    top: 240px;
    left: 5%;
    text-decoration:none ;
}

#headline h4{
    position: absolute;
    top: 325px;
    left: 50%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    text-decoration: none;
}
.logo img{
    float: right;
    position: relative;
    right: 10px;
    bottom: 5px;
    width: 180px;
    height: 180px;
}

#headerCall{
    position: relative;
    left: 87%;
    top: 200px;
    font-size: 40px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#headerCall span{
    color: #C40008;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

marquee{
    width: 100%;
    background-color:  rgba(1, 0, 53,0.5);
    height: 40px;
    margin-top: 0;
    position: relative;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px 0px;
}

.box_div{
    background-color: rgba(211, 211, 211, 0.9);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 18px 0px;
    position: relative;
    top: -6px;
}
.box{
    background-color:  rgb(1, 0, 53);
    color: white;
    text-align: center;
    width: 240px;
    height: 240px;
    padding: 6px 15px;
    border: 4px solid white;
}
.box legend{
    border: 4px solid white;
    background-color:  rgb(255, 0, 0);
    height: 50px;
    width:50px;
    z-index: 1;
    padding-top: 5px;
    font-size: 35px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box h5{
    font-size: 24px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.box p{
    font-size: 18px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 20px;
    margin-top: -15px;
}

.course_body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.courseModule{
    width: 40%;
    height: px;
    margin-top: 20px;
    background-color: rgba(3, 1, 78, 0.2);
    box-shadow: inset 0 0 20px ;
}
.courseModule h3{
    width: 100px;
    background-color: rgb(1, 0, 53);
    color: white;
    font-weight: 100;
    padding: 5px 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.courseModule ul{
    float: left;
    list-style-type: square;
    line-height: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}
.courseModule ul div{
    float: right;
}


.courseModule h2{
    color:  red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.module2 ul{
    line-height: 30px;
    font-size: 20px;
}






.module{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



#module1{
    display: flex;
    flex-direction: row;
}

.contact{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.contactInfo{
    width: 400px;
    padding: 10px 20px;
    line-height: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.contactInfo h2{
    font-weight: normal;
    font-size: 30px;
}

.contactInfo h3{
    font-weight: normal;
    color: #C40008;
}

.contactForm{
    width: 450px;
    background-color: #C40008;
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 30px;
    height: 500px;
}

.contactForm h3{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    font-weight: 200;
}

.contactForm input{
    padding: 15px 10px;
    padding-right: 240px;
    border-radius: 7px;
    margin-bottom: 20px;
    font-size: 15px;
}

.contactForm button{
    margin-bottom: 30px;
    padding: 15px 190px;
    border-radius: 7px;
    background-color: rgb(1, 0, 53);
    color: white;
    border: none;
    font-size: 20px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#icon{
    display: flex;
    justify-content: space-around;
    max-width: 100px;
}

#icon img{
    border-radius: 50px;
    background-color: #C40008;
    width: 40px;
    height: 40px;
}

.footer{
    background-color: rgb(1, 0, 53);
    color: white;
    width: 100%;
    margin-top: 10px;
    position: relative;
    bottom: 0px;
    height: 40px;
    letter-spacing: 3px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media (max-width: 1125px){
    #headline h2{
        font-size: 50px;

    }
    #headline h4{
        font-size: 20px;
    }
    #headerCall{
        margin-left: 60px;
    }
}

@media (max-width: 1012px){
    
    #headline h2{

        font-family: Arial, Helvetica, sans-serif;
        font-size: 280%;
        color: white;
        letter-spacing: 2px;
        position: absolute;
        top: 20px;
        left: 5%;
        text-decoration:none ;
    }
    
    #headline h4{
        position: absolute;
        top: 100px;
        left: 50%;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        text-decoration: none;
    }
    #headerCall{
        position: relative;
        left: 0;
    }
}

@media (max-width: 880px){
    #headline h2{

        font-family: Arial, Helvetica, sans-serif;
        font-size: 250%;
        color: white;
        letter-spacing: 2px;
        position: absolute;
        top: 20px;
        left: 3%;
        text-decoration:none ;
    }
    
    #headline h4{
        position: absolute;
        top: 85px;
        left: 50%;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        text-decoration: none;
    }
}

@media (max-width: 790px){
    #headline h2{

        font-family: Arial, Helvetica, sans-serif;
        font-size: 250%;
        color: white;
        letter-spacing: 2px;
        position: absolute;
        top: 30%;
        left: 3%;
        text-decoration:none ;
    }
    
    #headline h4{
        position: absolute;
        top: 44%;
        left: 50%;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        text-decoration: none;
    }
    #headerCall{
        position: relative;
        left: 0;
        margin-top: 40px;
    }
}

@media (max-width: 600px){
    #headline h2{

        font-family: Arial, Helvetica, sans-serif;
        font-size: 220%;
        color: white;
        letter-spacing: 2px;
        position: absolute;
        top: 30%;
        left: 3%;
        text-decoration:none ;
    }
    
    #headline h4{
        position: absolute;
        top: 42%;
        left: 50%;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        text-decoration: none;
    }
    #headerCall{
        position: relative;
        left: 0;
        margin-top: 80px;
    }
    #headerCall p{
        font-size: 30px;
    }
    #headerCall p span{
        font-size: 40px;
    }
}

